<div role="form">
      <div class="row">
        <div class="form-group col-xs-12 col-sm-3" >
            <label>Caixa</label>
            <select class="form-control select-lista" ng-model="credCtrl.caixaSelecionado" ng-disabled="credCtrl.tabDelete">
              <option  ng-repeat="caixa in credCtrl.caixas | orderBy : 'mes' | orderBy : 'ano'" value="{{caixa._id}}" >{{caixa.nome}}</option>
            </select>
        </div>
        <!-- <field id="ciclo" grid="12 4" label="Ciclo de Pagamento"
            model="credCtrl.cicloAtual.nome" readonly="true"></field> -->
        <div class="form-group col-xs-12 col-sm-3" >
            <label>Tipo de Crédito</label>
            <select class="form-control select-lista" ng-model="credCtrl.credito.tipo" ng-disabled="credCtrl.tabDelete">
              <option  ng-repeat="tipo in credCtrl.listaTipo" value={{tipo}} >{{tipo}}</option>
            </select>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            <label>Coletor</label>
            <select class="form-control select-lista" ng-model="credCtrl.credito.coletor" ng-disabled="credCtrl.tabDelete">
              <option ng-repeat="coletor in credCtrl.listaColetor" value="{{coletor}}">{{coletor}}</option>
            </select>
        </div>
        <div class="form-group col-xs-12 col-sm-3" >
            <label>Status do Crédito</label>
            <select class="form-control select-lista" ng-model="credCtrl.credito.status" ng-disabled="credCtrl.tabDelete">
              <option ng-repeat="statuscred in credCtrl.listaStatusCred" model="{{statuscred}}">{{statuscred}}</option>
            </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12 col-sm-3" >
            <label>Status do Caixa</label>
            <select class="form-control select-lista" ng-model="credCtrl.credito.statusCaixa" ng-disabled="credCtrl.tabDelete">
              <option ng-repeat="statusCaixa in credCtrl.listaStatusCaixa" model="{{statusCaixa}}" >{{statusCaixa}}</option>
            </select>
        </div>
        <field id="devedor" grid="12 3" placeholder="Informe o nome do devedor" label="Devedor"
            model="credCtrl.credito.devedor" readonly="credCtrl.tabDelete"></field>
        <field id="descricao" grid="12 3" placeholder="Informe uma descrição" label="Descrição"
            model="credCtrl.credito.descricao"  readonly="credCtrl.tabDelete" uppercase></field>
        <field id="valor" grid="12 3" placeholder="Informe o valor" label="Valor" type="number"
            model="credCtrl.credito.valor" readonly="credCtrl.tabDelete"></field>
      </div>
        <div class="box-footer">
          <button class="btn btn-primary" ng-click="credCtrl.create()" ng-if="credCtrl.tabCreate">Incluir</button>
          <button class="btn btn-info" ng-click="credCtrl.update()" ng-if="credCtrl.tabUpdate">Alterar</button>
          <button class="btn btn-danger" ng-click="credCtrl.delete()" ng-if="credCtrl.tabDelete">Excluir</button>
          <button class="btn btn-default" ng-click="credCtrl.refresh()">Cancelar</button>
        </div>
</div>
