<div role="form">
  <div class="box-body">
    <field id="mes" grid="12 4" placeholder="Informe o mês" label="Mês" type="number"
        model="cicloCtrl.cicloPagamento.mes" readonly="cicloCtrl.tabDelete"></field>
    <field id="ano" grid="12 4" placeholder="Informe o ano" label="Ano" type="number"
        model="cicloCtrl.cicloPagamento.ano" readonly="cicloCtrl.tabDelete"></field>
  </div>
  <div class="box-footer">
    <button class="btn btn-primary" ng-click="cicloCtrl.create()" ng-if="cicloCtrl.tabCreate">Incluir</button>
    <button class="btn btn-info" ng-click="cicloCtrl.update()" ng-if="cicloCtrl.tabUpdate">Alterar</button>
    <button class="btn btn-danger" ng-click="cicloCtrl.delete()" ng-if="cicloCtrl.tabDelete">Excluir</button>
    <button class="btn btn-default" ng-click="cicloCtrl.refresh()">Cancelar</button>
  </div>
</div>
