<content-header titulo="DÉBITO" subtitulo="Cadastro"></content-header>

<section class="content" >
  <div class="nav-tabs-custom" ng-controller="DebitoCtrl as debtCtrl">
    <ul class="nav nav-tabs">
      <li ng-if="debtCtrl.tabList" ng-class="{active: debtCtrl.tabList}">
        <a href data-target="#tabList" data-toggle="tab">
          <i class="fa fa-bars"></i> Lista
        </a>
      </li>
      <li ng-if="debtCtrl.tabCreate">
        <a href data-target="#tabCreate" data-toggle="tab">
          <i class="fa fa-plus"></i> Incluir
        </a>
      </li>
      <li ng-if="debtCtrl.tabUpdate" ng-class="{active: debtCtrl.tabUpdate}">
        <a href data-target="#tabUpdate" data-toggle="tab">
          <i class="fa fa-pencil"></i> Alterar
        </a>
      </li>
      <li ng-if="debtCtrl.tabDelete" ng-class="{active: debtCtrl.tabDelete}">
        <a href data-target="#tabDelete" data-toggle="tab">
          <i class="fa fa-trash-o"></i> Excluir
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="tabList" ng-include="'debito/listDebito.html'" ng-if="debtCtrl.tabList"
          ng-class="{active: debtCtrl.tabList}"></div>
      <div class="tab-pane" id="tabCreate" ng-include="'debito/formDebito.html'" ng-if="debtCtrl.tabCreate"></div>
      <div class="tab-pane" id="tabUpdate" ng-include="'debito/formDebito.html'"
          ng-class="{active: debtCtrl.tabUpdate}" ng-if="debtCtrl.tabUpdate"></div>
      <div class="tab-pane" id="tabDelete" ng-include="'debito/formDebito.html'"
          ng-class="{active: debtCtrl.tabDelete}" ng-if="debtCtrl.tabDelete"></div>
    </div>
  </div>
</section>
