<div role="form">
      <div class="row">
        <div class="form-group col-xs-12 col-sm-3" >
            <label>Caixa</label>
            <select class="form-control select-lista" ng-model="debtCtrl.caixaSelecionado" ng-disabled="debtCtrl.tabDelete">
              <option  ng-repeat="caixa in debtCtrl.caixas | orderBy : 'mes' | orderBy : 'ano'" value="{{caixa._id}}" >{{caixa.nome}}</option>
            </select>
        </div>

        <div class="form-group col-xs-12 col-sm-3" >
            <label>Tipo de Débito</label>
            <select class="form-control select-lista" ng-model="debtCtrl.debito.tipo" ng-disabled="debtCtrl.tabDelete">
              <option  ng-repeat="tipo in debtCtrl.listaTipo" value={{tipo}} >{{tipo}}</option>
            </select>
        </div>

        <div class="form-group col-xs-12 col-sm-3">
            <label>Pagador</label>
            <select class="form-control select-lista" ng-model="debtCtrl.debito.pagador" ng-disabled="debtCtrl.tabDelete">
              <option ng-repeat="pagador in debtCtrl.listaPagador" value="{{pagador}}">{{pagador}}</option>
            </select>
        </div>

        <div class="form-group col-xs-12 col-sm-3" >
          <label>Status do Débito</label>
            <select class="form-control select-lista" ng-model="debtCtrl.debito.status" ng-disabled="debtCtrl.tabDelete">
              <option ng-repeat="statusDebt in debtCtrl.listaStatusDebt" model="{{statusDebt}}">{{statusDebt}}</option>
            </select>
        </div>

      </div>
      <div class="row">
        <div class="form-group col-xs-12 col-sm-3" >
            <label>Status do Caixa</label>
            <select class="form-control select-lista" ng-model="debtCtrl.debito.statusCaixa" ng-disabled="debtCtrl.tabDelete">
              <option ng-repeat="statusCaixa in debtCtrl.listaStatusCaixa" model="{{statusCaixa}}" >{{statusCaixa}}</option>
            </select>
        </div>

        <field id="credor" grid="12 3" placeholder="Informe o nome do credor" label="Credor"
            model="debtCtrl.debito.credor" readonly="debtCtrl.tabDelete"></field>

        <field id="descricao" grid="12 3" placeholder="Informe uma descrição" label="Descrição"
            model="debtCtrl.debito.descricao"  readonly="debtCtrl.tabDelete" uppercase></field>

        <field id="valor" grid="12 3" placeholder="Informe o valor" label="Valor" type="number"
            model="debtCtrl.debito.valor" readonly="debtCtrl.tabDelete"></field>

      </div>
        <div class="box-footer">
          <button class="btn btn-primary" ng-click="debtCtrl.create()" ng-if="debtCtrl.tabCreate">Incluir</button>
          <button class="btn btn-info" ng-click="debtCtrl.update()" ng-if="debtCtrl.tabUpdate">Alterar</button>
          <button class="btn btn-danger" ng-click="debtCtrl.delete()" ng-if="debtCtrl.tabDelete">Excluir</button>
          <button class="btn btn-default" ng-click="debtCtrl.refresh()">Cancelar</button>
        </div>
</div>
