<div class="box-body">

  <div class="form-group col-xs-12 col-sm-2" >
      <label>Tipo de Crédito</label>
      <select class="form-control select-lista" ng-model="debtCtrl.caixaSelecionado" ng-change="debtCtrl.change()">
        <option  ng-repeat="caixa in debtCtrl.caixas | orderBy : 'mes' | orderBy : 'ano'" value="{{caixa._id}}" >{{caixa.nome}}</option>
      </select>
  </div>

  <table class="table">
      <thead>
        <tr>
          <th>Pagador</th>
          <th>Tipo</th>
          <th>Credor</th>
          <th>Status Débito</th>
          <th>Status Caixa</th>
          <th>Data</th>
          <th>Valor</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="debito in debtCtrl.debitos">
          <td>{{debito.pagador}}</td>
          <td>{{debito.tipo}}</td>
          <td>{{debito.credor}}</td>
          <td>{{debito.status}}</td>
          <td>{{debito.statusCaixa}}</td>
          <td>{{debito.data | date: "dd/MM/yyyy"}}</td>
          <td>{{debito.valor | currency : "R$ " : 2}}</td>
          <td class="table-actions">
            <button class="btn btn-warning" ng-click="debtCtrl.showTabUpdate(debito)"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-danger" ng-click="debtCtrl.showTabDelete(debito)"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
      </tbody>
  </table>
</div>
